@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  font-weight: 400;
  font-family: 'Rubik';
  background-color: black;
  color: white;
}

.Intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 200px;
  color: white;
}

.intro {
  margin-top: 120px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  margin-left: 50px;
}

.Typewriter {
  display: inline-block;
  font-weight: 500;
}

.Navbar {
  margin-top: 120px;
  margin-right: 50px;
}

.Navbar ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  font-size: 50px;
  margin: 0px;
}

.Navbar a{
  text-decoration: none;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  padding-right: 100px;
}

.IntroContainer {
  display: flex;
  flex-direction: column;
}

.links ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-self:right;
  margin-right: 50px;
}

.links a{
  color: white;
  font-size: 50px;
  padding: 10px;
}

